@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  margin: 0 0 30px 0;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80px;
  width: 100%;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header__logo {
  height: 50%;
}
.header__logo img {
  height: 100%;
}

.footer {
  padding: 30px;
  background-color: #353535;
}
.footer h3 {
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
}
.footer__item {
  list-style-type: none;
  line-height: 25px;
}
.footer__item a {
  color: white;
}
.footer__item span {
  width: 30px;
  font-size: 15px;
}

button {
  border: none;
  background-image: linear-gradient(345deg, #9356DC, #FF79DA);
  font-size: 18px;
  height: 60px;
  color: white;
  padding: 0 20px;
  border-radius: 30px;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-image: linear-gradient(345deg, #ae80e5, #fface8);
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3);
}

.operation__card {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.1);
  margin: 0 0 20px 12px;
  height: 70px;
}
.operation__card__number {
  position: absolute;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
}
.operation__card__text {
  position: relative;
  line-height: 70px;
  left: 70px;
  font-weight: bold;
}
.operation__card__text i {
  position: absolute;
  display: flex;
  color: #7E7E7E;
  font-size: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: -30px;
  width: 20px;
  height: auto;
}
.operation__card:hover {
  background-color: #F5EDFF;
}
.operation__card:hover i {
  color: #9356DC;
}

.restaurant-card {
  background-color: white;
  height: 250px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.restaurant-card__img {
  height: 70%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.restaurant-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 30%;
  width: 100%;
  padding: 15px 10px;
}
.restaurant-card__place {
  color: #353535;
}
.restaurant-card__hearth {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-70%);
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.restaurant-card__hearth i {
  position: absolute;
}
.restaurant-card__hearth .fas {
  opacity: 0;
  background-image: linear-gradient(180deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant-card__hearth .far {
  opacity: 1;
}
.restaurant-card__hearth:hover .fas {
  opacity: 1;
}
.restaurant-card__hearth:hover .far {
  opacity: 0;
}

.main {
  z-index: -1;
}

.localisation {
  height: 65px;
  text-align: center;
  background-color: #EAEAEA;
  color: #353535;
}
.localisation p {
  line-height: 65px;
  font-size: 20px;
}
.localisation p span {
  margin-right: 10px;
}

.quote {
  padding: 50px;
  text-align: center;
  background-color: #F6F6F6;
}
.quote__title {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  padding-bottom: 20px;
}
.quote__text {
  padding-bottom: 30px;
  color: #353535;
}

.operation {
  padding: 50px 30px;
}

.restaurant {
  padding: 50px 30px;
  background-color: #F6F6F6;
}

.restaurant-container-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*# sourceMappingURL=style.css.map */
