/***********************************************************************************************
*****************************************OPERATION-CARD*****************************************
***********************************************************************************************/
.operation__card {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 7px 10px 2px rgba(0,0,0,0.1);
    margin: 0 0 20px 12px;
    height: 75px;
    &__number {
        position: absolute;
        background-color: $primarycolor;
        color: white;
        font-size: 14px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
        left: -12px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__text {
        line-height: 75px;
        font-weight: bold;
        span {
            color: $tertiarytextcolor;
            font-size: 20px;
            width: 80px;
            height: 100%;
            padding-left: 40px;
        }
    }
    &--active {
        background-color: #F5EDFF;
        cursor: pointer;
        span{
            color: $primarycolor;
        }
    }
    @include min-media("desktop") {
        flex: 1 1 30%;
    }
}


/***********************************************************************************************
**************************************RESTAURANT-CARD*******************************************
***********************************************************************************************/
.restaurant-card {
    position: relative;
    background-color: white;
    height: 250px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 7px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    &__img {
        height: 70%;
        width: 100%;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 30%;
        width: 100%;
        padding: 15px 10px;
    }
    &__place{
        color: $secondarytextcolor;
    }
    &__hearth {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-70%);
        font-size: 25px;
        width: 25px;
        height: 25px;
        i {
            position: absolute;
        }
        .fas {
            opacity: 0;
            background-image: linear-gradient(180deg, $primarycolor, $secondarycolor);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all .5s ease;
        }
        .far {
            opacity: 1;
            transition: all .5s ease;
        }
        &:hover {
            .fas {
                opacity: 1;
            }
            .far {
                opacity: 0;
            }
        }
    }
    &:hover {
        transform: scale(1.01);
    }
    @include min-media("tablet") {
        width: calc(50% - 10px);
    }
    @include min-media("desktop") {
        width: calc(25% - 15px);
    }
    &__new {
        position: absolute;
        background-color: #99E2D0;
        color: #008766;
        border-radius: 3px;
        top: 16px;
        right: 14px;
        font-size: 15px;
        padding: 7px 12px;
    }
}
/***********************************************************************************************
*******************************************CARD-MENU-COURSE*************************************
***********************************************************************************************/
.card-course {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 7px 10px 2px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    animation: load 1s backwards;
    @for $i from 1 through 9 {
        &--#{$i}{
            animation-delay: .2s * $i;
        }
    }
    &__price{
        display: flex;
        margin-left: auto;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 15px;
        height: 100%;
        width: 15%;
        span {
            padding-bottom: 12px;
            font-weight: bold;
            color: $secondarytextcolor;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
        width: 85%;
    }
    &__desc {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $secondarytextcolor;
    }
    &__title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__animation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 0;
        background: $tertiarycolor;
        font-size: 20px;
        color: white;
        overflow: hidden;
        transform-origin: center right;
    }
    &:hover {
        .card-course__animation{
            animation: grow 1s ease forwards;
            span {
                animation: rotate 1s linear;
            }
        }
        .card-course__text{
            animation: shrink 1s ease forwards;
        }
    }
  }

    @keyframes rotate {
        from {
            transform: rotate(180deg);
        }
        to {
            transform: rotate(-1turn);
        }
    }
    @keyframes grow {
        from {
            width: 0;
        }
        to {
            width: 60px
        }
    }
    @keyframes shrink {
        from {
            width: 85%;
        }
        to {
            width: calc(85% - 60px);
        }
    }
    @keyframes load {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }