.img-restaurant {
    width: 100%;
    height: 300px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.menu {
    position: relative;
    padding: 30px 15px;
    background-color: $primarybackground;
    height: calc(100% + 40px);
    top: -40px;
    border-radius: 40px 40px 0 0;
    &__container{
        @include min-media('desktop') {
            display: flex;
            width: 100%;
            gap: 20px;
        }
    }
    .box-title {
        position: relative;
        height: 40px;
        margin-bottom: 30px;
    }
}
.container-card{
    margin-bottom: 40px;
    @include min-media('desktop') {
        flex: 1 1 33%;
    }
    &__title{
    font-size: 18px;
    font-weight: initial;
    color: $secondarytextcolor;
    margin: 0 0 15px 5px;
        &::after {
            content: '';
            display: block;
            margin-top: 5px;
            width: 40px;
            height: 3px;
            background-color: $tertiarycolor;
        }
    }
}
.order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    @include min-media('desktop') {
        margin-top: 0;
    }
}