$primarycolor : #9356DC;
$secondarycolor : #FF79DA;
$tertiarycolor : #99E2D0;

$primarytextcolor: #000000;
$secondarytextcolor: #353535;
$tertiarytextcolor: #7E7E7E;

$primarybackground: #F6F6F6;
$secondarybackground: #EAEAEA;

$breakpoints: (
    "phone": 360px,
    "tablet": 760px,
    "desktop": 1024px
);